{% extends 'base.html' %} {% block content %}

        <div class="w3-panel w3-leftbar w3-border-cyan">
            <p>
                Welcome to the Chat Forum!
            </p>
        </div>
    <div class="w3-panel w3-border-left w3-pale-red w3-border-red">
        <p>
            I am thrilled to have you join the community where you can engage with others from all over the world on topics that interest you.
            Whether you're here to find new friends, explore different ideas, or learn something new, I hope you'll find what you're looking for in this forum.
        </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-blue w3-border-blue">
        <p>
            The chat forum is a place where individuals with different experiences can come together and share their thoughts, opinions, and experiences.
            I believe that everyone has something valuable to contribute to our community, and a diversity of perspectives are welcome.
        </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-green w3-border-green">
        <p>
            To ensure that our forum is a safe and respectful environment for everyone, we ask that you treat others with kindness and respect.
            We believe that healthy communication is built on a foundation of mutual respect and empathy. Any behavior that is deemed to be harmful or offensive will not be tolerated.
            We encourage open and honest communication and welcome conversations on a wide range of topics.
         </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-yellow w3-border-yellow">
         <p>
            Whether you're interested in gaming, books, movies, art, or anything in between, our forum provides a space for you to share your ideas and learn from others.
            Our community is inclusive and welcoming, and we strive to create an environment where all members feel valued and respected.
            We believe that by engaging with people who have different perspectives and backgrounds, we can broaden our understanding of the world and grow as individuals.
            In addition to our general discussion forum, we also have specialized sub-forums where you can connect with people who share your specific interests.
            From gaming to cooking, from politics to travel, there's something for everyone in our community.
        </p>
    </div>
    <div class="w3-panel w3-border-left w3-sand w3-border-yellow">
        <p>
            Join our community today and start connecting with people who share your interests and passions.
            We can't wait to get to know you and see what you bring to our forum!
        </p>
    </div>

{% endblock %}