<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title> ChattyVerse </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        <style>
            .w3-allerta {
              font-family: "Allerta Stencil", Sans-serif;
            }
        </style>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="w3-light-gray">
        <div class="w3-container w3-dark-gray w3-center w3-allerta">
            <p>
                <div class="w3-xxlarge"> ChattyVerse </div>
            </p>
        </div>

        <div class=w3-black>
            <a href="/TheOfficialChatForum" class="w3-button w3-red w3-hover-red"><div class="fa fa-home"></div> Home</a>
            <a href="/about" class="w3-button w3-hover-red">About</a>
            <div class="w3-dropdown-hover">
                <button class="w3-button w3-hover-red">Chatting Areas</button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="#" class="w3-bar-item w3-button">Forums</a>
                    <a href="/LiveChat" class="w3-bar-item w3-button">LocalChat</a>
                </div>
            </div>
            <a href="/" class="w3-button w3-hover-red">Registration</a>
            <a href="/login" class="w3-button w3-hover-red">Sign-in</a>
        </div>

        <div class="content w3-container">
            {% block content %} {% endblock %}
        </div>

        <div class="w3-container w3-dark-gray w3-center w3-bottom">
            <h6>&copy; 2023 Copyright - Daniyal Zia </h6>
        </div>
    </body>
</html>

