<html lang="en">
  <head> <!-- Header starts here -->
    <title>ChattyVerse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head> <!-- Header ends here -->

  <body class="w3-lightgray"> <!-- Body starts here -->

    <div class="w3-top"> <!-- Top Bar stuff starts here -->
      <div class="w3-bar w3-gray w3-wide w3-padding w3-card">
        <a href="/homepage" class="w3-bar-item w3-button"><b>DZ</b> ChattyVerse</a>
        <div class="w3-center w3-hide-small">
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a class="w3-bar-item"></a>
          <a href="#about" class="w3-bar-item w3-button">About</a>
          <a href="#Chatting" class="w3-bar-item w3-button">Chatting</a>
          <a href="#register" class="w3-bar-item w3-button">Register</a>
        </div>
        <div class="w3-right w3-hide-small">
          <a class="w3-bar-item">User: {{username}}</a>
          <a href="/logout" class="w3-bar-item w3-button">logout</a>
        </div>
      </div>
    </div> <!-- Top Bar stuff ends here -->

    <!-- Homepage first image stuff starts here -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img class="w3-image" src="https://media.istockphoto.com/id/1362680734/photo/speech-bubble-neon-light-sign.jpg?b=1&s=170667a&w=0&k=20&c=NCP-wyM8WKXpjM8LvvyQkGIABmXVjKymDG-DqkEcc2A=" alt="Chatting" width="1500" height="500">
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>DZ</b></span> <span class="w3-hide-small w3-text-light-grey">ChattyVerse</span></h1>
      </div>
    </header>
    <!-- Homepage first image stuff ends here -->

  <div class="w3-content w3-padding" style="max-width:1564px"> <!-- Content Div -->

    <!-- About Section -->
    <div w3-left> <!-- Subtitle and bordering -->
      <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
      </div>

    <div class="w3-panel w3-border-left w3-pale-red w3-border-red">
      <p> I am thrilled to have you join the community where you can engage with others from all over the world on topics that interest you.
          Whether you're here to find new friends, explore different ideas, or learn something new, I hope you'll find what you're looking for in this forum. </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-blue w3-border-blue">
      <p> The chat forum is a place where individuals with different experiences can come together and share their thoughts, opinions, and experiences.
          I believe that everyone has something valuable to contribute to our community, and a diversity of perspectives are welcome. </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-green w3-border-green">
      <p> To ensure that our forum is a safe and respectful environment for everyone, we ask that you treat others with kindness and respect.
          We believe that healthy communication is built on a foundation of mutual respect and empathy.
          Any behavior that is deemed to be harmful or offensive will not be tolerated.
          We encourage open and honest communication and welcome conversations on a wide range of topics. </p>
    </div>
    <div class="w3-panel w3-border-left w3-pale-yellow w3-border-yellow">
      <p> Whether you're interested in gaming, books, movies, art, or anything in between, our forum provides a space for you to share your ideas and learn from others.
          Our community is inclusive and welcoming, and we strive to create an environment where all members feel valued and respected.
          We believe that by engaging with people who have different perspectives and backgrounds, we can broaden our understanding of the world and grow as individuals.
          In addition to our general discussion forum, we also have specialized sub-forums where you can connect with people who share your specific interests.
          From gaming to cooking, from politics to travel, there's something for everyone in our community. </p>
    </div>
    <div class="w3-panel w3-border-left w3-sand w3-border-yellow">
      <p> Join our community today and start connecting with people who share your interests and passions.
          We can't wait to get to know you and see what you bring to our forum! </p>
    </div>
    </div>

    <!-- Chatting Section -->
    <div class="w3-container w3-padding-32" id="Chatting"> <!-- Subtitle and bordering -->
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Chatting Areas</h3>
    </div>

    <!-- Private chat link stuff -->
    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l6 m6 w3-margin-bottom">
        <h3>Chats</h3>
        <p class="w3-opacity">Private</p>
        <p>For those that want their chats to be quick and temporary.</p>
        <p><a href="/LiveChat" class="w3-button w3-light-grey w3-block">Check out Chats</a></p>
      </div>

    <!-- Forums link stuff -->
    <div class="w3-col l6 m6 w3-margin-bottom">
      <h3>Forums</h3>
      <p class="w3-opacity">Wide Spread</p>
      <p>For those that want to talk with a community on a multitude of subjects.</p>
      <p><a href="#" class="w3-button w3-light-grey w3-block">Check out Forums</a></p>
    </div>
  </div>

    <!-- Signup Section -->
    <div class="w3-container w3-padding-32" id="register"> <!-- Subtitle and bordering -->
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Register</h3>
      <p>Want to join our community? Click the button below to sign-up!</p>
      <p><a href="/" class="w3-button w3-light-grey w3-block">Sign-Up</a></p>
    </div>

  </div> <!-- Content Div end -->


    <!-- Footer -->
    <footer class="w3-center w3-dark-gray w3-padding-16">
      <p>&copy; 2023 Copyright - DZ ChattyVerse</p>
    </footer>

  </body>
  <!-- Body ends here -->
</html>
