<html lang="en">
    <!-- Header starts here -->
    <head>
        <meta charset="UTF-8">
        <title>ChattyVerse</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
        <style>
            .w3-allerta {
              font-family: "Allerta Stencil", Sans-serif;
            }
        </style>
    </head>
    <!-- Header ends here -->

    <!-- Body starts here -->
    <body class="w3-theme-l5">

        <!-- Signup Stuff starts here -->
        <div class="w3-panel w3-border w3-round-xlarge w3-center w3-border-teal w3-pale-teal w3-display-middle"> <!-- Border Stuff -->
            <h2><div class="w3-xlarge"><b class="w3-allerta"> DZ </b> ChattyVerse </div> </h2> <!-- Title Stuff -->

            <!-- Signup form stuff starts here -->
            <form action=/insert method=post>
                <p>Username:</p>
                <input name=username> <br>
                <p>Password:</p>
                <input name=password type=password> <br>
                <p>
                <input type=submit value="Sign Up" onclick=update()>
                    <script>
                        function update(){
                            alert("Your account has been created successfully!")
                        }
                    </script>
                </p>
            </form>
            <!-- Signup form stuff ends here -->

            <p>Already have an account? <a href="/login">Log in here!</a></p> <!-- Link to login stuff here -->
        </div>
    </body>
    <!-- Body ends here -->
</html>
