<html>
<head>
    <title>ChattyVerse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-lightgray">

<div class="w3-top">
<div class="w3-bar w3-gray w3-wide w3-padding w3-card">
    <a href="/homepage" class="w3-bar-item w3-button"><b>DZ</b> ChattyVerse</a>
</div>
</div>

<div class= "w3-left">
<div class="w3-panel w3-border w3-round-xlarge w3-border-black w3-light-gray w3-display-middle">
<form method="post" class="buttons">
    <h3>Enter The Chat Room</h3>
    <div>
        <label>Name:</label>
        <input
            type="text"
            placeholder="Pick a name!"
            name="name"
            value="{{name}}"
        />
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
        <button type="submit" name="join">Join a room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Create a room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
</div>
</div>

</body>
</html>
